
{% block body %}
    <a href="{{ url('classified_index') }}"><h5>{{ 'title.classifieds'|trans }}</h5></a>


    {% include 'default/_form.html.twig' with {
    page_title: 'title.classified_add',
    attr: {
    method: 'post',
    action: url('classified_add')
    },
    back_to_list_path: 'classified_index',
    } %}

{% endblock %}